body {
    margin: 0;
  }
  

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #325567;
    position: fixed; 
    height: 110%; 
    overflow: auto;
  }
  
  li{
size: 1000px;

  }

  li a {
    display: block;
    color: #ffffff;
    padding: 68px 16px;
    text-decoration: none;
    font-family: 'Azonix';
    font-size: 40px;
    text-align: center;
    /* width: 200px;
    height: 150px; */
    
    
  }
  

  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  div  {
    margin-left:25%;
    padding:1px 16px;
    height: 5000px;
    background-color: #bfbfbf;

  }

  #Ola{
    background-color: pink;
    
      z-index: 9;
      
      
    
  }


  .child {
    opacity: 0.8;
    height: 550px;
    background: #a790a5;
    border: 3px dotted #895d75;
    width: 500px;
    position: absolute;
    top: 0;
    left: 0;
  }
  

  .child-2 {
    opacity: 0.8;
    height: 300px;
    background: #a790a5;
    border: 3px dotted #895d75;
    position: absolute;
    top: 250px;
    left: 100px;
    width: 50%;
    bottom: 10px;
  }


  
  .parent {
    position: relative;
    background: red;
    width: 1200px;
    margin: 80px 80px;
    height: 850px;
    border: 5px #895d75;
    box-shadow: 10px 10px 5px grey;
  }


  
#campo{
  
  position: relative;
    background: green;
    width: 1200px;
    margin: 80px 80px;
    height: 850px;
    border: 5px #895d75;

    box-shadow: 10px 10px 5px grey;

}



#campo2{
  
  position: relative;
    background: green;
    width: 1200px;
    margin: 80px 80px;
    height: 850px;
    border: 5px #895d75;

    box-shadow: 10px 10px 5px grey;

}

#campo3{
  
  position: relative;
    background: green;
    width: 1200px;
    margin: 80px 80px;
    height: 850px;
    border: 5px #895d75;
    box-shadow: 10px 10px 5px grey;


}



#campo4{
  
  position: relative;
    background: green;
    width: 1200px;
    margin: 80px 80px;
    height: 850px;
    border: 5px #895d75;

    box-shadow: 10px 10px 5px grey;

}





/* 
div.gallery {
  margin: 5px;
  border: 10px solid rgb(138, 51, 99);
  float: center;
  width: 45%;
  height: auto;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 45%;
  height: auto;
}
 */






/* img{


  width: 100%;
  height:50%;


}

 */





















/* 
.tm-left-right-container {
   width: 100%; 
  }






  @media (min-width: 992px) {


    .tm-right-column {
      float: right;
      width: 70%;
    }


  }



@media (min-width: 1800px) {

  .tm-left-right-container {
    width: 100%;
}

} */

   





  
/* .flex-container {
  

    display: flex; 
  justify-content: center;
  align-items: center;
   height: 200px; 
  
    
  display: flex;
  flex-direction: column;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 700px;
  height: 300px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

 */
